div.paragraph {
	margin-top: 5px;
	margin-bottom: 5px;
}
span.word {
	height: fit-content;
	display: inline-block;
}

/* span.space {
	margin-right: 5px;
} */

span.clicked {
	background-color: yellow;
}

span.clickable:hover {
	background-color: aqua;
	text-decoration: underline;
}

#definition-select {
	overflow: hidden;
	text-overflow: ellipsis;
}

#text-area-output {
	height: 100px;
	overflow: scroll;
}

#pasted-text {
	width: 100%;
}
