{% extends 'base.html' %}

<!-- title -->
{% block title %}Login{% endblock %}

<!-- page content -->
{% block content %}

<div class="container d-flex justify-content-center my-5">
  
  <!-- login form -->
  <div class="row col-12 col-sm-10 col-md-8 col-lg-6 border border-1 border-light rounded shadow-lg p-3 mt-5 mb-5">
  
    <form id="login_form" method="POST" action="">
        <div class="row justify-content-around">
        
            <input type="hidden" name="next" value="{{request.args.get('next','')}}">
        
            {% if token %}
            <input type="hidden" name="token" value="{{token}}">
            {% endif %}
        
            <!-- email address -->
            <div class="form-floating mb-3">
              
              {{form.email_address(class_="form-control", placeholder="Email address", spellcheck="false", autocomplete="off", autocorrect="off", autocapitalize="off")}}
              {{form.email_address.label(class_="form-label")}}
            
              {% for err in form.email_address.errors %}
              <span class="badge rounded-pill bg-danger me-1 text-wrap">{{err}}</span>
              {% endfor %}
            
            </div>
            
            <!-- password -->
            <div class="form-floating mb-3">
              
              {{form.password(class_="form-control", placeholder="Password")}}
              {{form.password.label(class_="form-label")}}
        
              {% for err in form.password.errors %}
              <span class="badge rounded-pill bg-danger me-1 text-wrap">{{err}}</span>
              {% endfor %}
        
            </div>
            
            <!-- form buttons -->
          <div>
            <div class="d-flex justify-content-around">
              <button id="login_button" type="" class="btn btn-primary btn">Submit</button>
              <a href="/reset-password" class="my-auto"><i>Need to reset your password?</i></a>
            </div>  
          </div>
        
        </div>
    </form>

  </div>
</div>

{% endblock %}

<!-- scripts -->
{% block page_scripts %}<script src="/static/login.js"></script>{% endblock %}