{% extends 'base.html' %}

{% block page_styles %}<link rel="stylesheet" href="/static/study_material.css" type="text/css">{% endblock %}

{% block title %}Study Materials{% endblock %}

{% block content %}
<div class="container mt-5">

  <input type="hidden" id="last_language" value="{{ g.user.last_language }}">

  <!-- Modal -->
  <div class="modal fade" id="studyMaterialModel" tabindex="-1" aria-labelledby="studyMaterialModelLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="studyMaterialModelLabel"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div id="errors_div">
            <ul id="errors_ul">
            </ul>
          </div>

          <select name="modal-language-source-code" id="modal-language-source-code" class="form-select" value="{{ g.user.last_language }}">
            {% for language in languages %}
              {% if language[0] == g.user.last_language %}
              <option value="{{ language[0] }}" selected>{{ language[1] }}</option>
              {% else %}
              <option value="{{ language[0] }}">{{ language[1] }}</option>
              {% endif %}
            {% endfor %}
          </select>

          <div class="input-group mt-1 mb-1">
            <input id="translate-input" type="text" class="form-control" placeholder="Word to translate">
            
            <button id="translate-submit" class="btn btn-outline-secondary" type="button" id="button-addon2">Translate</button>
          </div>

          <div class="input-group mt-1 mb-1">
            <input id="translated-word" type="text" class="form-control" placeholder="Get word from dictionary">
              
            <button id="translated-search" class="btn btn-outline-secondary" type="button">Dictionary</button>
          </div>

          <div class="input-group mt-1 mb-1">
            <select class="form-select" id="definition-select" aria-label="Select intended definition.">
            </select>
          </div>
        
          <div class="input-group mt-1 mb-1">
            <span class="input-group-text">Parts of speech</span>
            <select id="part-of-speech" class="form-select">
              {% for pos in parts_of_speech %}
              <option value="{{ pos[0] }}">{{ pos[1] }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="input-group mt-1 mb-1">
            <span class="input-group-text">Synonyms</span>
            <textarea id="synonyms" class="form-control text-area-output"></textarea>
          </div>

          <div class="input-group mt-1 mb-1">
            <span class="input-group-text">Examples</span>
            <textarea id="examples" class="form-control text-area-output"></textarea>
          </div>


        </div>
        <div class="modal-footer d-flex row">
          <select id="root-select" class="form-select col ms-3" >
            {% for word in words %}
            <option value="{{ word[0] }}">{{ word[1] }}</option>
            {% endfor %}
          </select>
          <div class="col-auto ms-0">
            <button id="add-word-button" type="button" class="btn btn-outline-primary">Add Word</button>
            
            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- text input -->
  <div id="import-html" class="container">
    
    <textarea name="pasted-text" id="pasted-text" cols="30" rows="10"></textarea>
    
    <div class="row d-flex justify-content-center">
      <div class="col-10 col-sm-8 col-md-6 col-lg-4 my-1">
        
        <select name="language-source-code" id="language-source-code" class="form-select">
          {% for language in languages %}
            {% if language[0] == g.user.last_language %}
            <option value="{{ language[0] }}" selected>{{ language[1] }}</option>
            {% else %}
            <option value="{{ language[0] }}">{{ language[1] }}</option>
            {% endif %}
          {% endfor %}
        </select>
      
      </div>
  
      <button id="render-html" class="btn btn-outline-primary col-auto my-1">Render HTML</button>

    </div>
    
    <div id="adjusted-html">
      
    </div>
    
  </div>

</div>
{% endblock %}

{% block page_scripts %}<script src="/static/study_material.js"></script>{% endblock %}