{% extends 'base.html' %}

<!-- title -->
{% block title %}{{ word.root }}{% endblock %}

<!-- page content -->
{% block content %}

<div class="container d-flex justify-content-center my-3">
  
  <div class="col-12 border border-1 border-light rounded shadow-lg p-3 mt-2 mb-2">

    <input type="hidden" id="last_language" value="{{ g.user.last_language }}">

    <!-- edit word modal -->
    <div class="modal fade" id="editWordModal" tabindex="-1" aria-labelledby="editWordModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editWordModalLabel"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <form id="edit_word_form" action="/words/{{ word.id }}/edit" method="POST">
              {% include '_vocab_word_form.html' %}
            </form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>

          </div>
        </div>
      </div>
    </div>

    <!-- add component modal -->
    <div class="modal fade" id="addComponentModal" tabindex="-1" aria-labelledby="addComponentModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addComponentModalLabel"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <form id="addComponentForm" action="/words/{{ word.id }}/variations/new" method="POST">
              {% include '_vocab_component_form.html' %}
            </form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>

          </div>
        </div>
      </div>
    </div>

    <!-- edit component modal -->
    <div class="modal fade" id="editComponentModal" tabindex="-1" aria-labelledby="editComponentModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editComponentModalLabel"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <form id="editComponentForm" action="" method="POST">
              {% include '_vocab_component_form.html' %}
            </form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>

          </div>
        </div>
      </div>
    </div>


    <div class="accordion" id="vocabWordAccordion">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <p class="display-6 m-0">
              <b>{{ word.root }}</b> -
              {% if word.translation %}
              {{ word.translation }}
              {% endif %}
              ({{ word.source_code }})
            </p>
          </button>
          
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#vocabWordAccordion">
          <div class="accordion-body">
              
              <div class="row d-flex justify-content-between">
                
                <div class="col">
                  {% if word.definition %}
                  <p class="m-0"><b>Definition: </b>{{ word.definition }}</p>
                  {% endif %}

                  {% if word.synonyms %}
                  <p class="m-0"><b>Synonyms: </b>{{ word.synonyms }}</p>
                  {% endif %}

                  {% if word.examples %}
                  <p class="m-0"><b>Examples: </b>{{ word.examples }}</p>
                  {% endif %}

                  {% if word.notes %}
                  <p class="m-0"><b>Notes: </b>{{ word.notes }}</p>
                  {% endif %}
                </div>  
                
                <div class="col-auto d-flex">
                  <button type="button" class="btn btn-outline-secondary mb-auto me-1" data-bs-toggle="modal" data-bs-target="#editWordModal" data-bs-whatever="{{ word.root }}">Edit</button>

                  <form action="/words/{{ word.id }}/delete" method="POST">
                    <button class="btn btn-outline-danger" type="submit"><i class="fad fa-trash-alt"></i></button>
                  </form>
                </div>

              </div>

          </div>
        </div>
      </div>
      
      <div class="row d-flex justify-content-between mt-3 mb-1">
                
        <div class="col">
          <p class="fs-4 m-0 ms-3"><b>Variations</b></p>
        </div>  
        
        <div class="col-auto d-flex">
          <button type="button" class="btn btn-outline-primary mt-auto mb-auto" data-bs-toggle="modal" data-bs-target="#addComponentModal" data-bs-whatever="Add variation of {{ word.root }}">Add Variation</button>
        </div>

      </div>

      {% for pos in parts_of_speech.keys() %}
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading-{{ pos }} ">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ pos }}" aria-expanded="false" aria-controls="collapse-{{ pos }}">
            <span>
              <b class="fs-5">{{ pos }}s: &nbsp</b>
  
              {% for variation in parts_of_speech[pos] %}
                {% if loop.index == 1 %}
                {{ variation }}
                {% else %}
                | {{ variation }}
                {% endif %}
              {% endfor %}
            </span>

          </button>
        </h2>
        <div id="collapse-{{ pos }}" class="accordion-collapse collapse" aria-labelledby="heading-{{ pos}}" data-bs-parent="#vocabWordAccordion">
          
          <div class="accordion-body row d-flex justify-content-left">
            
            {% for component in components %}
              {% if component.part_of_speech == pos %}
              <div class="col-12 col-md-6 col-lg-4 col-xl-3 m-0 p-2">
                <div class="card">
                  <h5 class="card-header py-1 px-2 p-0 d-flex">
                    <p class="m-0 col">
                      {{ component.variation }}
                    </p>

                    <div class="col-auto d-flex">
                      <button type="button" class="btn btn-outline-secondary btn-sm mb-auto me-1" data-bs-toggle="modal" data-bs-target="#editComponentModal" data-bs-whatever="Edit {{ component.variation }}", data-component-id="{{ component.id }}", data-word-id="{{ word.id }}">Edit</button>
                      
                      <form action="/variations/{{ component.id }}/delete" method="POST">
                        <button class="btn btn-outline-danger btn-sm" type="submit"><i class="fad fa-trash-alt"></i></button>
                      </form>
                    </div>

                  </h5>

                  <div class="card-body p-2">
                    
                    {% if component.translation %}
                    <p class="card-text m-0"><b>Translation: </b>{{ component.translation }}</p>
                    {% endif %}
                    
                    {% if component.description %}
                    <p class="card-text m-0"><b>Description: </b>{{ component.description }}</p>
                    {% endif %}
                    
                    {% if component.examples %}
                    <p class="card-text m-0"><b>Examples: </b>{{ component.examples }}</p>
                    {% endif %}
                    
                    {% if component.notes %}
                    <p class="card-text m-0"><b>Notes: </b>{{ component.notes }}</p>
                    {% endif %}

                  </div>
                </div>
              </div>

              {% endif %}
            {% endfor %}

          </div>
        </div>
      </div>
      {% endfor %}

    </div>

          
  </div>
</div>

{% endblock %}

<!-- scripts -->
{% block page_scripts %}<script src="/static/view_vocab_word.js"></script>{% endblock %}