{% extends 'base.html' %}

<!-- title -->
{% block title %}My Words{% endblock %}

<!-- page content -->
{% block content %}

<div class="container d-flex justify-content-center my-3">

  <div class="col-12 border border-1 border-light rounded shadow-lg p-3 mt-2 mb-2">

    <select name="language-source-code" id="language-source-code" class="form-select">
      {% for language in languages %}
        {% if language[0] == source_code %}
        <option value="{{ language[0] }}" selected>{{ language[1] }}</option>
        {% else %}
        <option value="{{ language[0] }}">{{ language[1] }}</option>
        {% endif %}
      {% endfor %}
    </select>
    
    <div class="accordion-body row d-flex justify-content-left">

      {% for word in words %}

      <div class="col-12 col-md-6 col-lg-4 col-xl-3 m-0 p-2">
        <div class="card">
          <h5 class="card-header py-1 px-2 p-0 d-flex">
            <a href="/words/{{ word.id }}" target="_blank">{{ word.root }}</a>
          </h5>
          <div class="card-body p-2">
            
            {% if word.components %}
            <p class="card-text m-0"><b>Variations:</b></p>
            <ul>
              {% for component in word.components %}
                <li>{{ component.variation }}</li>
              {% endfor %}
            </ul>  
            {% endif %}

            {% if word.translation %}
            <p class="card-text m-0"><b>Translation: </b>{{ word.translation }}</p>
            {% endif %}
            
            {% if word.definition %}
            <p class="card-text m-0"><b>Definition: </b>{{ word.definition }}</p>
            {% endif %}
            
            {% if word.synonymns %}
            <p class="card-text m-0"><b>Synonymns: </b>{{ word.synonymns }}</p>
            {% endif %}

            {% if word.examples %}
            <p class="card-text m-0"><b>Examples: </b>{{ word.examples }}</p>
            {% endif %}
            
            {% if word.notes %}
            <p class="card-text m-0"><b>Notes: </b>{{ word.notes }}</p>
            {% endif %}

          </div>
        </div>
      </div>

      {% endfor %}
    </div>
          
  </div>
</div>

{% endblock %}

<!-- scripts -->
{% block page_scripts %}
<script src="/static/view_language_words.js"></script>
{% endblock %}